$heading-font: 'Domine', serif;
$body-font: 'Raleway', sans-serif;
$alt-font: 'Aldrich', sans-serif;

body {
  font-size: 62.5%;
  font-family: $body-font;
  background: black;
}

h1, h2, h3, {
  font-family: $heading-font;
}

.wrapper {
  max-width: 1080px;
  width: 90%;
  margin: 0 auto;
}

img {
  width: 100%;
}

ul {
  padding: 0;
}

.hidden {
  visibility: hidden;
}
