header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url(../assets/human.jpg);
  height: 120vh;
  background-position: top;
  background-size: cover;
  margin: 0 auto;
}



.top-bar {
  text-align: center;
  padding: 5px 30px;
  background: #000;
  color: white;
  font-size: 0.8rem;
  text-transform: uppercase;
  /* display: inline-block; */
  width: 25%;
  margin: 1px 38%;
  border: 1px solid goldenrod;
  box-shadow: 1px 1px 2px goldenrod;
  opacity: 0;
}

.top-bar:hover {
  box-shadow: 4px 4px 3px goldenrod;
}

.logo {
  width: 20%;
}

.link {
  display: inline-block;
  color: white;
  text-decoration: none;
}

.link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: tomato;
    transition: width .3s;
}

.link:hover::after {
    width: 100%;
    transition: width .3s;
}

header nav {
  font-family: $heading-font;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 5%;
}



header ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

header a {
  text-decoration: none;
  padding: 20px;
  font-size: 1.2rem;
  text-shadow: 1px 1px 2px white;
  text-transform: uppercase;
}

header h1 {
  font-family: $heading-font;
  color: white;
  font-size: 9.1rem;
  text-transform: uppercase;
  text-shadow: 6px 6px 3px black,
                 6px 6px 3px black,
                  6px 6px 3px black,
                   6px 6px 3px black,
                    6px 6px 3px black,
                     6px 6px 3px black,
                      6px 6px 3px black;
  margin-top: 15%;
  z-index: 30;
  display: flex;
  justify-content: center;
  text-align: center;
}

header img {
  margin-top: 10%;
}

@media (max-width: $break-tablet) {
  .top-bar {
    display: none;
  }

  header a {
    font-size: 1.0rem;
    padding: 7px;
  }

  header h1 {
    font-size: 5.0rem;
    display: flex;
    margin-top: 40%;
  }

}

@media (max-width: $break-phone) {
  header {
    a {
      font-size: 0.8rem;
    }
    h1 {
      margin-top: 50%;
    }
    a {
      font-size: 0.7rem;
    }
  }

}
