.newarrivals-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: black;
  width: 80%;
  opacity: 0;
  margin-bottom: 10%;
  h3 {
   font-size: 1.1rem;
   color: white;
 }
  p {
   font-size: 1.6rem;
   color: white;
 }
  img {
   width: 100%;
   line-height: 0;
   background: white;
 }
}

.newarrivals-bottom figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2%;
}

.newarrivals h2 + p {
  color: black;
}

.newarrivals h3 + p {
  color: tomato;
  font-size: 1.1rem;
}

.newarrivals-bottom figure {
  width: 19%;
  margin: 0;
  dsplay: inline-block;
  position: relative;
  margin-bottom: 1%;
}

figcaption {
  display: none;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: black;
  display: none;
  text-align: center;
}

figure:hover figcaption {
  display: block;
  }

figcaption h3 {
  margin-top: 9%;
  margin-bottom: 0;
  font-family: $heading-font;
  font-weight: 400;
}

figcaption p {
  margin-top: 0;
  text-transform: uppercase;
  padding-bottom: 2%;
}

.moreDetails {
  width: 30%;
  height: 30%;
  padding: 4%;
  border-radius: 5%;
  font-size: 0.9rem;
  color: black;
  background: #e0ecff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.moreDetails:hover {
  background: white;
  font-weight: bold;
  border: 3px solid goldenrod;
}


.newarrivals {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: white;
  /* height: 148vh; */
  h2 {
    font-size: 6.0rem;
    margin: 20% 0 2%;
    color: black;
    }
  p {
    font-size: 1.5rem;
    font-family: $body-font;
    margin-bottom: 10%;
    color: white;
  }
}

.newarrivals-top p:after {
      content: "";
      display: block;
      margin: 0 auto;
      width: 40%;
      padding-top: 5%;;
      border-bottom: 2px solid tomato; /* This creates the border. Replace black with whatever color you want. */
  }

  .newarrivals-top {
    opacity: 0;
  }

  @media (max-width: $break-tablet) {

    .wrapper {
      width: 80%;
    }

    .newarrivals-bottom figure {
      width: 30%;
    }

    figure:hover figcaption {
      display: none;
      }

    .newarrivals {
      h2 {
       font-size: 4.0rem;
       margin-top: 5%;
       }
       p {
       font-size: 1.0rem;
       }
  }

  @media (max-width: $break-phone) {
    .newarrivals h2 {
      margin-top: 20%;
    }

    .newarrivals-bottom figure {
      width: 48%;
    }

    .newarrivals-bottom figure:last-of-type {
      margin: 0 auto;
    }



  }
}
