.retailprices {
  color: white;
}

.prices-item {
  /* border: 1px solid tomato; */
  width: 48%;
  margin-bottom: 1%;
}

.retailprices {
  display: flex;
  flex-direction: column;
}

.prices-menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
  max-width: 1150px;
  opacity: 0;
  padding-bottom: 20%;
}

.prices {
  display: flex;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  text-align: center;
  h2 {
    font-size: 6.0rem;
    margin-bottom: 2%;
  }
  p {
    font-size: 1.5rem;
    font-family: $body-font;
    margin-bottom: 10%;
    &:after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 40%;
        padding-top: 5%;;
        border-bottom: 2px solid goldenrod; /* This creates the border. Replace black with whatever color you want. */
    }
  }
}

.prices-item:nth-of-type(even) {
  margin-right: 0;
}

.prices h2 {
  color: white;
  margin-bottom: 0;
}

.prices-item h4 {
  font-family: $heading-font;
  font-size: 2.1rem;
  margin: 0 0 1.5%;
  text-transform: capitalize;
}

.prices-item p {
  margin: 0 0 5%;
  font-size: 1.5rem;
  font-style: italic;
}

.description {
  font-style: italic;
  display: flex;
  align-items: baseline;
}

.description::before {
  content: "";
  border-bottom: 2px dotted #fff;
  margin: 2px 0;
  flex-grow: 1;
  order: 2;
  margin: 0 3px;
}

.amount {
  order: 3;
  color: goldenrod;
}

.prices-item {
  color: white;
  width: 45%;
  margin-right: 3%;
}

.container svg {
  color: white;
  display: block;
  margin: auto;
  &:hover {
    color: black;;
  }
}



.to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: goldenrod;
  color: #fff;
  padding: 9px 12px;
  border-radius: 50%;
}

.to-top:hover {
  background: #d7d7d7;
  svg {
    color: black;
  }
}



@media (max-width: $break-tablet) {
  .prices {
    h2 {
     font-size: 4.0rem;
     }
     p {
     font-size: 1.0rem;
     }
}

  .prices-item {
    h4 {
      font-size: 1.2rem;
    }
    p {
      font-size: 1.1rem;
    }
  }

}

@media (max-width: $break-phone) {
    .prices-item {
      width: 98%;
      margin: 0 auto;
    }
}
